# Ignore koneksi.php di folder functions
functions/koneksi.php

# Ignore file sensitif di root
forgot_password.php
hash_password.php

# Ignore environment / config / log
*.env
*.log
*.cache

# Ignore dependencies / generated
vendor/
node_modules/
